<a href="https://colab.research.google.com/github/moizarsalan/Advanced_Python_Labs/blob/main/Lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab_01**

**Introduction to Python Basic**

# **Task 01**

In [ ]:
# Desfining two variables and printing messages using if else statements
age = 18
variable_02 = "My name is Abdul Moiz Arsalan"

if age > 18:
    print ("He is adult")
else:
    print ("He is child")

He is child

In [ ]:
# defining and print first three members of the list
a = ["1","2","3","4","5"]

print (a[0:3])

['1', '2', '3']

In [ ]:
# Product using function
def product(a, b):
    return a * b
a = 10
b = 3
print(product(a, b))

30

# **Task 02**

In [ ]:
import numpy as np

# making a numpy array
arr = np.array ([1,2,3,4,5,6,7,8,9,10])
print (arr)

[ 1  2  3  4  5  6  7  8  9 10]

In [ ]:
import pandas as pd

# creating dataframe using pandas
data = {
    'name': ['Abdul Moiz Arsalan', 'Hamza Rashid', 'Qasim Khan'],
    'age': ['21', '22', '23'],
    'major': ['Machine Learning', 'Linear Algebra', 'OpenCv']
}

df = pd.DataFrame(data)
print (df)

                 name age             major
0  Abdul Moiz Arsalan  21  Machine Learning
1        Hamza Rashid  22    Linear Algebra
2          Qasim Khan  23            OpenCv

# **Task 03**

In [ ]:
a = float (input("Enter 1st Number: "))
b = float (input("Enter 2nd Number: "))
c = float (input("Enter 3rd Number: "))

average = (a + b + c) / 3

print ("The average is", average)

Enter 1st Number: 2
Enter 2nd Number: 4
Enter 3rd Number: 6
The average is 4.0

In [ ]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# **Task 04**
**Calculating numpy of random number calculating its standard deviation**

In [ ]:
import numpy as np

a = np.random.rand(10)

std_dev = np.std(a)

print("Random numbers:", a)
print("The standard deviation is", std_dev)

Random numbers: [0.55441307 0.23898329 0.2281799  0.98605436 0.18553741 0.92074481
 0.18995432 0.3994959  0.28798313 0.12592626]
The standard deviation is 0.2950134486955679

# **Task 05**

In [ ]:
import numpy as np
import pandas as pd

random_numbers = np.random.rand(10)

std_dev = np.std(random_numbers)

print("Random Numbers:", random_numbers)
print("Standard Deviation:", std_dev)

dataset_path = '/content/student_performance.csv'

df = pd.read_csv(dataset_path)

print("\nColumn Names:", df.columns)

print("\nSummary Statistics:")
print(df.describe())

Random Numbers: [0.93853885 0.11584245 0.40258054 0.89628483 0.91429508 0.67654968
 0.14068472 0.91625257 0.17607856 0.83702173]
Standard Deviation: 0.3357487785795412

Column Names: Index(['StudentID', 'Name', 'Gender', 'AttendanceRate', 'StudyHoursPerWeek',
       'PreviousGrade', 'ExtracurricularActivities', 'ParentalSupport',
       'FinalGrade'],
      dtype='object')

Summary Statistics:
       StudentID  AttendanceRate  StudyHoursPerWeek  PreviousGrade  \
count   10.00000       10.000000          10.000000      10.000000
mean     5.50000       85.600000          17.700000      78.100000
std      3.02765        7.441625           6.848357      10.170218
min      1.00000       70.000000           8.000000      60.000000
25%      3.25000       82.750000          12.750000      71.750000
50%      5.50000       86.500000          17.500000      80.000000
75%      7.75000       90.750000          21.500000      85.750000
max     10.00000       95.000000          30.000000      90.000000

       ExtracurricularActivities  FinalGrade
count                  10.000000   10.000000
mean                    1.500000   80.200000
std                     1.080123   10.097304
min                     0.000000   62.000000
25%                     1.000000   73.500000
50%                     1.500000   82.500000
75%                     2.000000   87.750000
max                     3.000000   92.000000

# **Additional Task 01**

Task: 1
  1. Create a Python script that accepts a user's first and last name as input.
  2. Combine the names and print a welcome message, e.g., "Welcome, John Doe!"
  3. Create a list of five cities and use a loop to print each city in uppercase letters.

In [ ]:
name = input("Enter your first name: ")
surname = input("Enter your last name: ")

print ("Welcome,", name, surname)

Enter your first name: Abdul Moiz
Enter your last name: Arsalan
Welcome, Abdul Moiz Arsalan

In [ ]:
a = ["Karachi", "Lahore", "Islamabad", "Quetta", "Peshawar"]

for i in a:
    print (i.upper())

KARACHI
LAHORE
ISLAMABAD
QUETTA
PESHAWAR

# **Task 02**

Task: 2
  1. Write a Python function that accepts a list of numbers and returns the maximum number.
  2. Write another function that checks if a number is prime.
  3. Create a loop that calls the prime-checking function on numbers from 1 to 20 and prints whether each number is prime or not.

In [ ]:
def find_max(numbers):
    max = numbers[0]
    for number in numbers:
        if number > max:
            max = number
    return max

numbers = [3, 5, 7, 2, 8]
print(find_max(numbers))

8

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    if number == 2:
        return True
    if number % 2 == 0:
        return False

    for i in range(3, int(number**0.5) + 1, 2):
        if number % i == 0:
            return False
    return True

number = 29
if is_prime(number):
    print(number, "is a prime number")
else:
    print(number, "is not a prime number")

29 is a prime number

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False

    for i in range(3, int(n**0.5) + 1, 2):
        if n % i == 0:
            return False

    return True

for num in range(1, 21):
    if is_prime(num):
        print(num, "is a prime number")
    else:
        print(num, "is not a prime number")

1 is not a prime number
2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is not a prime number
16 is not a prime number
17 is a prime number
18 is not a prime number
19 is a prime number
20 is not a prime number

# **Additional Task 03**
  1. Create a NumPy array of 10 random integers between 1 and 50.
  2. Calculate the sum, mean, and standard deviation of the array.
  3. Sort the array in ascending order and print the sorted array.

In [1]:
import numpy as np

a = np.random.randint(1, 51, size=10)
print("Original Array:", a)

s = np.sum(a)
m = np.mean(a)
sd = np.std(a)

print(f"Sum: {s}")
print(f"Mean: {m}")
print(f"Standard Deviation: {sd}")

sa = np.sort(a)
print("Sorted Array:", sa)

Original Array: [48 15 13  7 11 45 11 44 40 27]
Sum: 261
Mean: 26.1
Standard Deviation: 15.70636813525011
Sorted Array: [ 7 11 11 13 15 27 40 44 45 48]

# **Additional Task 04**
  1. Create a Pandas DataFrame with three columns: Name, Age, and Score.
  2. Add data for at least five students.
  3. Calculate the average score and filter out students who scored below 70.
  4. Print the names of students who passed (scored 70 or above).

In [2]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [20, 21, 19, 22, 20],
    'Score': [85, 67, 90, 72, 88]
}
df = pd.DataFrame(data)

avg = df['Score'].mean()
passed = df[df['Score'] >= 70]

names = passed['Name'].tolist()

print(f"Average Score: {avg}")
print("Students who passed:", names)

Average Score: 80.4
Students who passed: ['Alice', 'Charlie', 'David', 'Eva']

# **Addtional Task 05**
  1. Create a new Colab notebook.
  2. Write Python code to generate the first 10 Fibonacci numbers.

In [3]:
fib = [0, 1]
for _ in range(8):
    fib.append(fib[-1] + fib[-2])

print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]